<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
<listeners>
	<listener class-name="Academy.Listener"></listener>
	</listeners>
<test name="TitleValidation">
    <classes>
    
  		<class name="Academy.validateTitle"/>
    </classes>
  </test> 
  <test name="HomePageValidation">
    <classes>
      <class name="Academy.HomePage"/>
    </classes>
  </test> 
    <test  name="NavigationValidation">
    <classes>
	  <class name="Academy.validateNavigationBar"/>
    </classes>
  </test> 


</suite> <!-- Suite -->
